h2{
	text-align: center;
	font-family: monospace;
}

p {
	text-align: center;
	font-family: Garamond, serif;
	font-size: 18px;
}

div {
	margin: auto;
	text-align: center;
}

a {
	text-decoration: none;
	color: #3D59AB;
	font-family: Verdana, sans-serif;
}
html{
	background-color: #0f0101; no-repeat center center fixed;
  backround-size:cover;
}
